@media  only screen and (max-width:477px) {
h1{
  font-size: 38px;
}
h2{
  font-size: 32px;
  
}
.section-p1 {
  padding: 20px 20px;
}
#hero {
  width: 100%;
  background-position: top 10% right 45%;
  height: 70vh;
  padding: 10px 20px;
}
#feature {
  justify-content: space-around;
}
#feature .fe-box {
  width: 150px;
  margin: 0px 0 15px 0;
}
#product1 .pro {
  width: 100%;
}
#banner {
  height: 40vh;
}
#banner h2 {
  font-size: 25px;
}
#banner3 {
  padding: 0 20px;
  flex-wrap: wrap;
  margin-right:20px;
}

#banner3 .banner-box {
  min-width: 100%;
  margin: 5px 10px;
}


#newsletter {
  padding: 40px 20px;
}
#newsletter .form {
  width: 100%;
  padding: 10px 0;
}
}